@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.scrollable-div::-webkit-scrollbar {
  width: 8px;
}
.scrollable-div::-webkit-scrollbar-track {
  background: transparent;
}
.scrollable-div::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 25px;
}
.scrollable-div::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 25px;
}
.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #ffa440;
  border-radius: 9999px; /* fully rounded */
}
.scrollable-div::-webkit-scrollbar-thumb:hover {
  background-color: #e18f38;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
